In [1]:
# Importing relevant libraries
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
# Importing data from the dataset
Emp_Per=pd.read_excel('INX_Future_Inc_Employee_Performance_CDS_Project2_Data_V1.8.xls')
#Reading the first 3 rows
Emp_Per.head(3)

,EmpNumber,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,...,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition,PerformanceRating
0,E1001000,32,Male,Marketing,Single,Sales,Sales Executive,Travel_Rarely,10,3,...,4,10,2,2,10,7,0,8,No,3
1,E1001006,47,Male,Marketing,Single,Sales,Sales Executive,Travel_Rarely,14,4,...,4,20,2,3,7,7,1,7,No,3
2,E1001007,40,Male,Life Sciences,Married,Sales,Sales Executive,Travel_Frequently,5,4,...,3,20,2,3,18,13,1,12,No,4

##  Department Wise Performance.

In [2]:
# check for unique department in dataset
Emp_Per["EmpDepartment"].value_counts()

Sales                     373
Development               361
Research & Development    343
Human Resources            54
Finance                    49
Data Science               20
Name: EmpDepartment, dtype: int64

- It can thus be deduced that the Sales department has the largest number of workforce, and Data Science the lowest.

In [3]:
# Group by department and find which department has the highest performance rating
Emp_Per.groupby("EmpDepartment")['PerformanceRating'].mean()

EmpDepartment
Data Science              3.050000
Development               3.085873
Finance                   2.775510
Human Resources           2.925926
Research & Development    2.921283
Sales                     2.860590
Name: PerformanceRating, dtype: float64

#### Important observations:

- Performance rating for employees in the Data Science department is highest.

- Performance rating for employees in the Sales department is the lowest.
- The number of employees is 1200

## Top 3 important factors effecting Employee Performnace

In [7]:
col=list(Emp_Per)
col.remove('EmpNumber')

In [9]:
col=list(Emp_Per)
col.remove('PerformanceRating')

- Removed EmpNumber and PerformanceRating features, because it was not included in our Predictors and so, it will match the index with the RandomForestclassifier Feature Importance to calculate.

In [ ]:
# Feature Importance
featimp=pd.DataFrame(data=RFC.feature_importances_*100.0,columns=["GiniValue"])
featimp.index=col
featimp.sort_values(["GiniValue"],axis=0,ascending=False,inplace=True)
print(featimp.head())

                         GiniValue
EmpLastSalaryHikePercent    21.190817
EmpEnvironmentSatisfaction  19.333486
YearsSinceLastPromotion      9.569725
EmpJobRole                   4.324786
EmpHourlyRate                3.900271

- Using the feature importance method on our classifier, we can infer that the feature which has the highest percentage affects the performance rating.


### The three most important factors effecting the performance of an employee listed below:

 - EmpLastSalaryHikePercent  ---    21.19
 - EmpEnvironmentSatisfaction---    19.33
 - YearsSinceLastPromotion   ---    9.56